body {
    background-color: #222;
    color: #eee;
    font-family: sans-serif;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    width: 100px;
  }
  
  .nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    margin-right: 20px;
  }
  
  .nav a {
    color: #eee;
    text-decoration: none;
  }
  
  .title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .info {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #eee;
    color: #222;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .description {
    font-size: 18px;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile-name {
    color: #eee;
    margin-right: 10px;
  }
  
  .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }